.chat-wrapper{
    border-radius: 20px;
    box-shadow: 3px 3px 10px #999;
    margin-bottom: 15px;
}
.chat-header{
    padding:10px;
}
.chat-body{
    height: 300px;
    max-height: 300px;
    overflow: auto;
    padding: 20px;
}
.chat-time-arrived{
    padding:5px;
}
.chat-btn-send, .chat-btn-clear,.chat-btn-snap{
    margin-top: 15px;
    background-color: #ccc;
}
.chat-input{
    padding:10px;
    border-radius: 5px;
    background: rgba(30,144,255,0.5);
    color: black;
}
.chat-message1{
    word-break: break-all;
}
.chat-message2{
    word-break: break-all;
    margin-right:0px;
    background: rgba(255,255,0, 0.2);
}
